* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes chartjs-render-animation {
    from {
        opacity: .99
    }

    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms
}

 
.chartjs-render-monitor {
    display: flex;
    width: 620px;
    height: 330px;
} 

.corpo-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}

.corpo-dashboard {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}



.container_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10x;
    
}

.container_texto{
    max-width: 600px;
    height: 100%;
}

.container_texto h1{
    font-size: 39px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 14px;
    
}
.container_texto p{
    font-size: 20px;
    font-family: poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
}


.titulo {
    font-size: 17px;
    color:#ff4500;
    padding: 41px;
}

.grafico_linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajuste {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_graf_linha{
width: 77%;
height: 220px;
background-color: #ff7b35;
margin-top: 42px;
margin-left: 100px;
border-radius: 60px;
box-shadow: 14px 10px 6px rgba(0, 0, 0, 0.4);
margin-bottom: 59px; 
}

.texto_graf_linha_ram{
    width: 77%;
    height: 220px;
    background-color: #ff7b35;
    margin-top: 42px;
    margin-right: 100px;
    border-radius: 60px;
    box-shadow: 14px 10px 6px rgba(0, 0, 0, 0.4);
    }




/* @media (max-width: 600px) {
    body{
        font-size: 11px;
    }
} */
