* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    height: 100vh;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
/*CÓDIGO DA PÁGINA CADASTRO EMPRESA ABAIXO, NA PÁGINA ANOVO CADASTRO*/
.container-est{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
 .Bloco{
    width: 100%;
    height: 498px;
    border-right:2px solid #ff4500;
    border-left: 2px solid #ff4500;
    border-bottom: 2px solid #ff4500;
    border-top: 2px solid #ff4500;
    margin-top: 40px;
    margin-bottom: 20px;
}

.Bloco input{
    width: 50%;
    padding: 10px;    
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.Bloco h3{
    font-size: 20px;
    color: #ff4500;
}
.btn_enviar:hover{
    border: 3px solid #ff4500;
    cursor: pointer;

}
.cadastroHamburguerias{
    width: 100%;
    height: 500PX;
    text-align: center;
    border-bottom: 2px solid #ff4500;
    background-color: #1C1C1C;
}
.cadastroDispositivo{
    width: 50%;
    height: 498px;
    text-align: center;
    float: right;
    background-color: #1C1C1C;
}
.cadastroResponsavel{
    width: 49.85%;
    height: 498px;
    text-align: center;
    background-color: #1C1C1C;
    border-right: 2px solid#ff4500;
}

.button {
    border: 2px solid #ffffff;
    font-family: poppins;
    font-size: 25px;
    height: 50px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
    background-color: #ff4500;
    box-shadow: 5px 10px #FF651F;
    cursor: pointer;
}
.button:hover{
    box-shadow: none;
    background-color: #FF651F;
    color: white;
}

.combobox{
    height: 45px;
    width: 55%;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #6b6b6b;
    font-size: 18px;
}
/*CÓDIGO DA PÁGINA CADASTRO EMPRESA ACIMA*/
