
/*Classe container*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 30;
    padding: 20;
}

/*INICIO DA PÁGINA HOME ABAIXO*/
/*Navegador , home, sobre ..*/
.header a {
    color:#ff4500;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 50px;
}

/*Centralização dos navegadores*/
.header li {
display: inline;
padding: 0 20px 0 20px; 
}

/*Tamanho de imagem do logotipo*/
.header .title-header img{
width: 250px;
}

/*Design de linhas ao lado do logotipo*/
.title-header{
display: flex;
justify-content: space-around;
align-items: center;
}

/*Botões do navegador e espaço entre eles*/
.nav {
display: flex;
justify-content: center;
margin-top: 50px;
}

/*linha em cima dos navegadores*/
.header .highlight, .header .current a {
border-top:3px #ff4500  solid   ;
font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    /* margin-top: 20px; */
}

.corpo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 24px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

.footer ul li {
    list-style: none;
    padding: 13px;
}

.imagem {
    height: 40px;
    
    padding: 5px;
}
