* {
    margin: 0;
    padding: 0;
    
}


body {
    height: 100vh;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.corpo-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
 }
 
 .corpo-esqueciSenha {
    display: flex;
    justify-content: center;
    align-items: center;
 }




.contatinho {
    width: 50%;
    border: 1px #00000067 solid;
    border-radius: 4px;
    /* APLICA UM ARREDONDAMENTO DE BORDA DE 4 PIXELS*/
    padding: 20px;
    background-color: #1C1C1C;
    /*APLICA UMA SOMBRA */
    box-shadow: 4px 4px 6px #696969 ;
    color: #ff4500;
}

.contatinho {
    color: #ff4500;
}

form button {
    width: 50%;
    margin-top: 30px;
    margin-left: 135px;
    height: max-content;
    border: 0;
    border-radius: 0.5px;
    background-color: #ff4500;
    padding: 10px 15px;
    cursor: pointer;
    color: #ffffff;
}

form a {
    color: #ffffff;
    text-decoration: none;
}
form p {
display: flex;
justify-content: center;
align-content: center;
align-items: center;
margin-top: 27px;
}

#login {
    left: 50px;
}

form input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid;
    Margin: 10px 0px;
    padding: 5px 0px 5px 5px;